<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/story">🏠</a></li>
  <li class="breadcrumb-item active">Système de correction</li>
</ol>

<h2>Liste des corrections</h2>

<p>Sur la page d'un épisode, la section "Corrections" est dorénavant présente.
Chaque correction comporte :</p>

<ul>
  <li>un "timecode" désignant le moment où la correction a lieu</li>
  <li>la correction en ellle-même, qui peut s'appliquer sur les champs "auteur" et/ou "réplique"</li>
  <li>des informations supplémentaires sur la correction si c'est nécessaire</li>
  <li>des informations liées à la création/mise à jour de la correction</li>
</ul>

<h2>Suggérer une correction</h2>

<p><em>Tout le monde</em> peut contribuer à la correction. Le seul pré-requis est d'être
  <u>connecté</u> (via un compte Google) pour y avoir droit. Ce lien de connexion se trouve
  tout en bas à droite du site. Une fois connecté, vous verrez un lien apparaître sur la
  page d'un épisode : "Ajouter une nouvelle correction ?"</p>

<p>Le formulaire de création d'une correction demande comme pré-requis :</p>

<ul>
  <li>un timecode valide</li>
  <li>qu'au moins l'un des trois champs suivants soit remplis : "auteur", "réplique" ou "notes"</li>
</ul>

<p><strong>Attention :</strong> lorsque vous validez votre correction, vous ne pourrez plus la
  modifier après. Aussi, prenez le temps de vous relire avant.
</p>

<p><strong>Note :</strong> Les nouvelles corrections ne sont pas publiées tout de suite. Elles doivent d'abord être
  validées par un admin.</p>

<h2>Exemples</h2>

<p>Voici quelques exemples de corrections :</p>

<ul>
  <li><a routerLink="/episode/1-VI-12" class="pretty">Tranchant glacial (1/VI/12)</a></li>
  <li><a routerLink="/episode/SE-8-3" class="pretty">Le sage, le forgeron et l'épéiste (SE/8/3)</a></li>
</ul>
