<table>
  <tr>
    <th></th>
    <th>Titre</th>
    <th>Épisodes</th>
    <th>Date</th>
  </tr>
  <tr *ngFor="let chapter of events; let i = index">
    <td>
      #{{ i+1 }}
    </td>
    <td>
      <ng-container *ngIf="chapter.notAvailable">
        <em>{{ chapter.title }}</em>
      </ng-container>
      <ng-container *ngIf="!chapter.notAvailable">
        <a routerLink="/story-event/{{chapter.getID()}}">{{ chapter.title }}</a>
        <span *ngIf="chapter.featured" class="featured">nouveau</span>
      </ng-container>
    </td>
    <td>
      <ng-container *ngIf="chapter.maxEpisodes">
        {{ chapter.nbEpisodes }} / {{ chapter.maxEpisodes }}
      </ng-container>
      <ng-container *ngIf="!chapter.maxEpisodes">
        <span *ngIf="chapter.nbEpisodes > 0">{{ chapter.nbEpisodes }}</span>
      </ng-container>
    </td>
    <td>
      {{ chapter.date }}
    </td>
  </tr>
</table>
