<table>
    <tr>
      <th>Ref</th>
      <th>Titre</th>
      <th>Épisodes</th>
      <th>Qualité</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let chapter of chapters; let i = index">
      <td class="ref">
        {{ chapter.ref }}
      </td>
      <td>
        <ng-container *ngIf="chapter.episodes.length === 0">
          <em>{{ chapter.getTitle() }}</em>
        </ng-container>
        <ng-container *ngIf="chapter.episodes.length > 0">
          <a routerLink="/chapter/{{chapter.getID()}}">{{ chapter.getTitle() }}</a>
        </ng-container>
        <span *ngIf="chapter.featured" class="featured">new</span>
      </td>
      <td class="text-center">
        {{ chapter.displayNbEpisodes() }}
      </td>
      <td class="text-center">
        <span [class]="chapter.getQualityColor()" *ngIf="chapter.episodes.length > 0">{{ chapter.quality }}%</span>
        <span *ngIf="chapter.episodes.length === 0">-</span>
      </td>
      <td>
        {{ chapter.date }}
      </td>
    </tr>
  </table>
