<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/story">Evénement de l'histoire</a></li>
  <li class="breadcrumb-item active">{{ storyEvent.getTitle() }}</li>
</ol>

<img [src]="'assets/'+storyEvent.image" *ngIf="storyEvent.image" />

<h2>Informations</h2>

<ul>
  <li><strong>Réf. :</strong> {{ storyEvent.ref }}</li>
  <li><strong>Titre :</strong> {{ storyEvent.title }}</li>
  <li><strong>Publication :</strong> {{ storyEvent.date }}</li>
  <li><strong>Nombre d'épisodes :</strong> {{ storyEvent.nbEpisodes }}</li>
  <li><strong>Durée totale :</strong> {{ storyEvent.totalDuration }}</li>
</ul>

<h2>Episodes</h2>

<div class="container">

  <table>
    <tr>
      <th></th>
      <th>Titre</th>
      <th>Durée</th>
      <th>Version</th>
    </tr>
    <tr *ngFor="let episode of storyEvent.episodes; let i = index">
      <td>
        #{{ i+1 }}
      </td>
      <td>
        <a routerLink="/episode-se/{{ episode.getID() }}">{{ episode.title }}</a>
      </td>
      <td>
        {{ episode.video.duration }}
      </td>
      <td>
        {{ episode.video.version }}
      </td>
    </tr>
  </table>
</div>
