<ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/story">🏠</a></li>
    <li class="breadcrumb-item active">Système de version</li>
  </ol>

<h2>Version des épisodes</h2>

<table>
  <tr>
    <th>Ref</th>
    <th></th>
  </tr>
  <tr *ngFor="let version of versions">
    <td class="ref">
      {{ version.b }}
    </td>
    <td>
      {{ version.l }}
    </td>
  </tr>
</table>

<h2>Notes</h2>

<ul>
  <li>Les 4 premiers événements de l'histoire (ou <i>story events</i>) sont actuellement
    dans des versions médiocres (sans son notamment). Elles seront refaites le jour où
    elles seront à nouveau disponibles dans le jeu.</li>
</ul>
