<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/story">Histoire</a></li>
  <li class="breadcrumb-item active">Saison {{ chapter.getSeasonNumber() }}</li>
  <li class="breadcrumb-item"><a routerLink="/chapter/{{ chapter.getID() }}">{{ chapter.getTitle() }}</a></li>
  <li class="breadcrumb-item active">{{ episode.getTitle() }}</li>
</ol>

<div class="submenu">
  <button type="button" class="btn" (click)="previous()" *ngIf="episodePrevious">Épisode précédent</button>
  <button type="button" class="btn btn-primary" (click)="next()" *ngIf="episodeNext">Épisode suivant</button>
</div>

<youtube-player
  width="360"
  height="641"
  [videoId]="episode.video.yt"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
></youtube-player>
