<div *ngIf="!episode; else view">
  [LOADING]
</div>

<ng-template #view>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/story">Histoire</a></li>
    <li class="breadcrumb-item active">{{ chapter.ref }}</li>
    <li class="breadcrumb-item"><a routerLink="/chapter/{{ chapter.getRefForUrl() }}">{{ chapter.getTitleForBreadcrump() }}</a></li>
    <li class="breadcrumb-item active">{{ episode.getTitleForBreadcrump() }}</li>
  </ol>

  <div class="row">

    <div class="col-5">
      <youtube-player
        width="360"
        height="641"
        [videoId]="episode.video.yt"
        (ready)="savePlayer($event)"
        (change)="onStateChange($event)"
      ></youtube-player>
    </div>

    <div class="col-7">

      <!--button type="button" class="btn" (click)="previous()" *ngIf="episodePrevious">Épisode précédent</button>
      <button type="button" class="btn btn-primary" (click)="next()" *ngIf="episodeNext">Épisode suivant</button-->
      <button type="button" class="btn" (click)="goLink(episode)">Lien YT</button>

      <h2>Infos</h2>

      <ul>
        <li><strong>Réf. :</strong> {{ episode.ref }}</li>
        <li><strong>Titre :</strong> <span [innerHTML]="episode.getTitle()"></span></li>
        <li *ngIf="episode.region"><strong>Région :</strong> {{ episode.region }}</li>
        <li><strong>Durée :</strong> {{ episode.video.duration }}</li>
        <li>
          <strong>Version :</strong>
          <span [class.qualityMax]="episode.video.version >= 5">{{ episode.video.version }}</span>
        </li>
      </ul>

      <h2>Corrections</h2>

      <div *ngIf="corrections | async; let corrections; else loading">
        <div *ngFor="let e of corrections" class="correction">
          <div class="actions">
            <a href="javascript:void(0)" (click)="editCorrection(e)" *ngIf="canEdit()">éditer</a>
            <a href="javascript:void(0)" (click)="deleteCorrection(e)" *ngIf="canDelete()">supprimer</a>
          </div>
          <div class="timecode"><b><a href="javascript:void(0)" class="pretty" (click)="goto(e.timecode)">{{ e.timecode }}</a></b></div>
          <div *ngIf="e.title">Auteur : <b>{{ e.title }}</b></div>
          <div *ngIf="e.message">Réplique : <span [innerHTML]="buildMsg(e.message)"></span></div>
          <div *ngIf="e.note">Notes : {{ e.note }}</div>
          <div class="date">
            Créé par {{ e.created.author }}, le {{ e.created.date | date:'short':'':'fr' }}
          </div>
          <div class="date" *ngIf="e.updated">
            Mis à jour par {{ e.updated.author }}, le {{ e.updated.date | date:'short':'':'fr' }}
          </div>
        </div>
        <div *ngIf="corrections.length === 0"><p><em>Aucune correction.</em></p></div>
      </div>
      <ng-template #loading>Chargement...</ng-template>

      <div *ngIf="canAdd()">

        <div *ngIf="displayForm; else createLink">
          <h2>{{ titleForm }}</h2>

          <p><em>Seul le timecode est obligatoire et au moins l'un des 3 champs suivants. Attention,
            une fois la correction validée, il ne vous sera plus possible de la modifier.
          </em></p>

          <div class="form-group row">
            <label for="timecode" class="col-2 col-form-label">Timecode<b>*</b></label>
            <div class="col-10">
              <input class="form-control" type="text" name="timecode" [(ngModel)]="form.timecode" id="timecode">
            </div>
          </div>
          <div class="form-group row">
            <label for="title" class="col-2 col-form-label">Auteur</label>
            <div class="col-10">
              <textarea class="form-control" type="text" [(ngModel)]="form.title" id="title"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="message" class="col-2 col-form-label">Réplique</label>
            <div class="col-10">
              <textarea class="form-control" type="text" [(ngModel)]="form.message" id="message"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label for="note" class="col-2 col-form-label">Notes</label>
            <div class="col-10">
              <textarea class="form-control" type="text" [(ngModel)]="form.note" id="note"></textarea>
            </div>
          </div>
          <div *ngIf="errorsForm.length > 0" class="errors">
            <ul>
              <li *ngFor="let e of errorsForm">{{ e }}</li>
            </ul>
          </div>
          <div class="text-right">
            <a href="javascript:void(0)" (click)="toggleForm(false)">Annuler</a>
            <button (click)="_addCorrection()">Valider</button>
          </div>
        </div>
        <ng-template #createLink>
          <p *ngIf="msg" class="margin-top success">{{ msg }} (<a href="javascript:void(0)" (click)="clearMsg()">effacer</a>)</p>
          <p class="margin-top"><a href="javascript:void(0)" (click)="addCorrection()">Ajouter une correction ?</a></p>
        </ng-template>
      </div>

    </div>

  </div>
</ng-template>
