<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/story">Spécial</a></li>
  <li class="breadcrumb-item"><a routerLink="/special-event/{{ specialEvent.getID() }}">{{ specialEvent.getTitle() }}</a></li>
  <li class="breadcrumb-item active">{{ episodeSSE.getTitle() }}</li>
</ol>

<div class="submenu">
  <button type="button" class="btn" (click)="previous()" *ngIf="episodePrevious">Épisode précédent</button>
  <button type="button" class="btn btn-primary" (click)="next()" *ngIf="episodeNext">Épisode suivant</button>
  <button type="button" class="btn" (click)="goLink(episodeSSE)">Lien YT</button>
</div>

<youtube-player
  width="360"
  height="641"
  [videoId]="episodeSSE.video.yt"
  (ready)="savePlayer($event)"
  (change)="onStateChange($event)"
></youtube-player>
