/* You can add global styles to this file, and also import other style files */

.season {
  margin-bottom: 10px;
}

table {
  background: #f0f9ff;
  color: #3a3a3a;
}

th {
  font-weight: bold;
  font-size: 0.8em;
  background-color: #e1f3ff;
  border-bottom: 1px #c8cacc solid;
  padding: 6px 12px;
}

td {
  border-bottom: 1px #c8cacc solid;
  padding: 6px 12px;
}

a {
  color: #3272d2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
